.top-container{
    background-color:#EAF6F6 ;
    position: relative;
    padding: 100px;
}


#me{
    border-radius: 100%;
    width: 10%;
}
.skill-photo{
   border-radius: 100%;
   width:30%; 
   float: left;
   margin-right: 30px;
   
}
.getintouch{
    border-radius: 300%;
    width: 15%;
    
}
.itanalyst{
    float: right;
    margin-left: 30px;
}

h1{
font-size: 4.625rem;
color: #376842;
 line-height: 1;
margin:50px auto 0 auto;
 
   
    font-family: 'Sacramento',cursive;
}

h2{
    font-size: 30px;
    font-weight:normal ; 
    
    font-family:'Montserrat',sans-serif ;
    color: #37a14e;
    padding-bottom: 10px;
}
h3{
font-family: 'Montserrat',sans-serif;
color: #11999E;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
     
}

.intro{
    width: 30%;
    margin: auto;
}
body{
    color: #40514E;
    margin: 0;
    text-align: center ;
    font-family: 'Merriweather', sans-serif;
}
.comp{
    text-decoration: underline;
}
p{
    line-height: 2;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
    
}
.top-cloud{
    position:absolute;
    right: 300px;
    top: 40px;
}
.middle-container{
    margin: 100px 0;
}
a{
    color: #0c791b;
    text-decoration: none;
}
.bottom-container{
   background-color: #50965f;
   padding: 50PX 0 20px;
}
.btt{
    color: #EAF6F6;
    font-size: 1 rem;
    padding: 20px 0;

}
a:hover{
    color: #EAF6F6;
}

hr{
    
  
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    border-color: gray;
    border-width: 5px;
    width: 5%;
    margin: 100px auto;
}

.btn {
    background: #1b9c46;
    background-image: -webkit-linear-gradient(top, #1b9c46, #2bc4ad);
    background-image: -moz-linear-gradient(top, #1b9c46, #2bc4ad);
    background-image: -ms-linear-gradient(top, #1b9c46, #2bc4ad);
    background-image: -o-linear-gradient(top, #1b9c46, #2bc4ad);
    background-image: linear-gradient(to bottom, #1b9c46, #2bc4ad);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #138a1983;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }